<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body>

<section layout:fragment="content">
    <article class="content dashboard-page">
        <div class="title-block">
            <span style="float:right;"><a href="#" class="btn btn-primary">添加</a></span>
            <h3 class="title"> Charts Flot</h3>
            <p class="title-description"> List of sample charts with custom colors </p>
        </div>
        欢迎页
    </article>
</section>

</body>

</html>