<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragment :: head"></div>


<body>
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div>
                        风眼管理系统
                    </h1>
                </header>

                <div class="auth-content">
                    <div th:if="${param.error}">
                        用户名密码不匹配
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <p class="text-xs-center">登录风眼</p>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group"> <label for="username">账号</label> <input type="text" class="form-control underlined" name="username" id="username" placeholder="Your username" required="true"/> </div>
                        <div class="form-group"> <label for="password">密码</label> <input type="password" class="form-control underlined" name="password" id="password" placeholder="Your password" required="true"/> </div>
                        <div class="form-group">
                            <label for="remember">
                                <input class="checkbox" id="remember" type="checkbox"/>
                                <span>记住我</span>
                            </label>
                            <a href="reset.html" class="forgot-btn pull-right">忘记密码?</a>
                        </div>
                        <div class="form-group"> <button type="submit" class="btn btn-block btn-primary">登录</button> </div>
                        <div class="form-group">
                            <p class="text-muted text-xs-center">我没有账号? <a href="signup.html">注册!</a></p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragment :: ref_js"></div>
    </body>

</html>