<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body>

<section layout:fragment="content">
    <article class="content dashboard-page">
        <div class="title-block">
            <h3 class="title"> 添加任务数据 </h3>
            <p class="title-description"> 添加任务数据 </p>
        </div>
        <section class="section">
            <div class="row sameheight-container">
                <div class="col-md-6">
                    <div class="card card-block sameheight-item" style="height: 718px;">
                        <div class="title-block">
                            <h3 class="title"> 任务数据 </h3>
                        </div>
                        <form role="form">
                            <div class="form-group"> <label class="control-label">Input Text</label> <input type="text" class="form-control underlined"/> </div>
                            <div class="form-group"> <label class="control-label">Input Password</label> <input type="password" class="form-control underlined"/> </div>
                            <div class="form-group"> <label class="control-label">Placeholder Input</label> <input type="text" class="form-control underlined" placeholder="Placeholder text"/> </div>
                            <div class="form-group"> <label class="control-label">Placeholder Input</label> <input type="text" class="form-control underlined" placeholder="Placeholder text"/> </div>
                            <div class="form-group"> <label class="control-label">Placeholder Input</label> <input type="text" class="form-control underlined" placeholder="Placeholder text"/> </div>
                            <div class="form-group"> <label class="control-label">Placeholder Input</label> <input type="text" class="form-control underlined" placeholder="Placeholder text"/> </div>
                            <div class="form-group"> <label class="control-label">Placeholder Input</label> <input type="text" class="form-control underlined" placeholder="Placeholder text"/> </div>
                            <button type="button" class="btn btn-primary">新增</button>
                        </form>
                    </div>
                </div>

            </div>
        </section>
    </article>
</section>

</body>

</html>