<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body>

    <section layout:fragment="content">
        <article class="content dashboard-page">
            <div class="title-block">
                <span style="float:right;"><a href="/bs/add" class="btn btn-primary">添加</a></span>
                <h3 class="title"> 任务列表</h3>
                <p class="title-description"> 分页显示任务的所有数据 </p>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title-block">
                                    <h3 class="title"> 任务列表 </h3>
                                </div>
                                <section class="example">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>中文名称</th>
                                                    <th>英文名称</th>
                                                    <th>经度</th>
                                                    <th>纬度</th>
                                                    <th>详细位置</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="bs:${list}">
                                                    <td th:text="${bs.bsId}"></td>
                                                    <td th:text="${bs.bsName}"></td>
                                                    <td th:text="${bs.bsPingYin}"></td>
                                                    <td th:text="${bs.bsLongitude}"></td>
                                                    <td th:text="${bs.bsLatitude}"></td>
                                                    <td th:text="${bs.bsAddress}"></td>
                                                    <td>
                                                        <a href="/bs/update" class="btn btn-primary btn-sm">编辑</a>
                                                        <a href="/bs/delete" class="btn btn-primary btn-sm">删除</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </section>

</body>

</html>